.image-description {
  visibility: hidden;
  opacity: 0;
  transition: opacity .1s, visibility .1s;
}

.image-wrap:hover .image-description {
  visibility: visible;
  opacity: 1;
}

.custom-banner {
  margin-left:1%;
  margin-right:1%;
  padding-left:5%;
  padding-top:2%;
  padding-bottom:1%;
  background: #666666;
  color:white;
}
